.Description{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /*top: 100vh; */
  
    left:0;
    width: 100%;
    height: 100vh;
    text-align: center;
    cursor: default;
    z-index: 0;
    background-color: rgba(121,123,123, 0.2);
  }
  
  .DescriptionContent{
    width: 800px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .button{
      display: inline-block;
      line-height: 1;
      font-size: 15px;
      padding: 12px 24px;
      border-radius: 3px;
      color: #fff;
      fill: #fff;
      text-align: center;
      transition: all .3s;
      background-color: red;
      cursor: pointer;
  }